# Week09 - Hands on with Pandas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import folium

## Loading the data
This structure remains the same. If you have another google spreadsheet, you only have to change the sheet_id

In [2]:
base_url = "https://docs.google.com/spreadsheets/d/"
url_id = "1NV-k5237esNE6lugwYw4hZVoRcYi8SFtG4fzX3aokAo/"
export = "export/format=excel"

whole_url = base_url + url_id + export

Different python and pandas versions exist and they handle dataframes differently regarding specific cases. For example, this dataset contains many values as "None". In my setup, all "None" values are instantly converted as NaN (missing valueas). So it appears the same as in my setup, you need to specify <code>na_values="None"</code>

In [3]:
df = pd.read_excel(whole_url, na_values="None")

In [4]:
df = df.loc[~df["latitude"].isna(),]

In [5]:
state_full_names = {
    "DC": "District of Columbia",
    "IN": "Indiana",
    "VA": "Virginia",
    "WA": "Washington",
    "NY": "New York",
    "CA": "California",
    "AZ": "Arizona",
    "NC": "North Carolina",
    "TX": "Texas",
    "GA": "Georgia",
    "FL": "Florida",
    "AL": "Alabama",
    "MD": "Maryland",
    "CO": "Colorado",
    "NM": "New Mexico",
    "IL": "Illinois",
    "TN": "Tennessee",
    "AK": "Alaska",
    "MA": "Massachusetts",
    "NJ": "New Jersey",
    "OR": "Oregon",
    "DE": "Delaware",
    "PA": "Pennsylvania",
    "IA": "Iowa",
    "SC": "South Carolina",
    "MN": "Minnesota",
    "MI": "Michigan",
    "KY": "Kentucky",
    "WI": "Wisconsin",
    "OH": "Ohio",
    "CT": "Connecticut",
    "RI": "Rhode Island",
    "NV": "Nevada",
    "UT": "Utah",
    "MO": "Missouri",
    "OK": "Oklahoma",
    "NH": "New Hampshire",
    "NE": "Nebraska",
    "LA": "Louisiana",
    "ND": "North Dakota",
    "AR": "Arkansas",
    "KS": "Kansas",
    "ID": "Idaho",
    "HI": "Hawaii",
    "MT": "Montana",
    "VT": "Vermont",
    "SD": "South Dakota",
    "WV": "West Virginia",
    "MS": "Mississippi",
    "ME": "Maine",
    "WY": "Wyoming"
}

# Second, use the method.map() to get the full names and creating a new column
df["state_full"] = df["state"].map(state_full_names)

In [11]:
df.loc[(df["state_full"]=="New Mexico")
    & (df["cityname"]=="Albuquerque"),["title", "body", "price"]]

,title,body,price
36,One BR Freeway Place Northeast,This unit is located at Freeway Place Northeas...,595
1261,One BR 1001-1005 Louisiana Blvd. NE,This unit is located at 1001-1005 Louisiana Bl...,750
1262,One BR 1200 Louisiana Blvd. NE,This unit is located at 1200 Louisiana Blvd. N...,750
1535,One BR 5800 Harper Dr. NE,"This unit is located at 5800 Harper Dr. NE, Al...",685
2183,One BR 13150 Wenonah Ave. SE,"This unit is located at 13150 Wenonah Ave. SE,...",739
2205,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",975
2699,One BR 557 Tramway Blvd NE,"This unit is located at 557 Tramway Blvd NE, A...",815
4631,Two BR 424 Jefferson NE,"This unit is located at 424 Jefferson NE, Albu...",1100
6571,Two BR 7801 Marble NE,"This unit is located at 7801 Marble NE, Albuqu...",1250
6839,Two BR 4215 Brockmont Ave NE,"This unit is located at 4215 Brockmont Ave NE,...",1200
6960,Two BR 2124 Oxford Avenue SE,"This unit is located at 2124 Oxford Avenue SE,...",1050
8384,One BR 100 Gold Ave SW #301,"This unit is located at 100 Gold Ave SW #301, ...",1850

In [ ]:
# Center the map on the mean position
center_lat = df['latitude'].mean()
center_lon = df['longitude'].mean()

m = folium.Map(location=[df['latitude'].mean(), df['longitude'].mean()], zoom_start=8)

for _, row in df.iterrows():
    folium.CircleMarker(
        location=[row['latitude'], row['longitude']],
        popup=f"$ {row["price"]}",
        radius=4,
        fill=True
    ).add_to(m)

m

In [ ]:
from folium.plugins import HeatMap

m = folium.Map(location=[df['latitude'].mean(), df['longitude'].mean()], zoom_start=6)
heat_data = df[['latitude', 'longitude']].dropna().values.tolist()
HeatMap(heat_data, radius=10, blur=15).add_to(m)
m